NEXT_PUBLIC_SUPABASE_URL=https://kwgghzllbihxyevqzowa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3Z2doemxsYmloeHlldnF6b3dhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2NTE2OTksImV4cCI6MjA4NjIyNzY5OX0.r1wOmXC6pRmDdUhZS1z3A9b29UEVbc8bB4cU7Tcvwfg