NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
NEXT_PUBLIC_ADMIN_EMAILS=owner@gmail.com
NEXT_PUBLIC_TEACHER_EMAILS=teacher1@gmail.com,teacher2@gmail.com
